@import '../../../../styles/variables.scss';

// $smallFont: 13px;
// $middleFont: 16px;
// $largeFont: 20px;

.carousel {
  .carousel-content {
    position: relative;

    img {
      height: 100vh;
      width: 100vw;
      object-fit: cover;
      object-position: bottom;
    }

    .itemDesc {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 12.5rem;
      left: 12.5rem;

      h3 {
        margin-bottom: 0.6rem;
        padding: 0.3rem;
        text-align: center;
        background-color: yellow;
        font-size: calc($largeFont) * 1.15;
        font-weight: 600;
      }
      .title,
      .titleEn {
        font-size: $middleFont;
        color: white;
      }
      .title {
        margin-bottom: 0.3rem;
      }
    }
  }
}
