@import '../../styles/variables.scss';

.listContainer {
  font-family: $regularFont;
  text-align: center;
  max-width: 110rem;
  margin: auto;
  padding-top: 6rem;

  .listTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}
