.listContainer {
  text-align: center;

  .listTitle {
    font-size: 20px;
    font-weight: bold;
    margin: 100px 0 30px 0;
  }

  .listCategory {
    display: flex;
    align-items: center;
    justify-content: center;

    .listCategorys {
      margin: 0 30px 20px 30px;
      color: #252525;
      cursor: pointer;
    }
  }

  .listFilter {
    margin-bottom: 20px;
  }

  .listItem {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
