.input {
  margin-bottom: 1.25rem;

  .inputTitle {
    display: block;
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
  }

  .userInforInputBox {
    padding: 0.625rem 1rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 1rem;
    border: 0.163rem solid lightblue;
  }
}
