.UserActivity {
  width: 45vh;

  .componentTitle {
    margin: 5rem 0 2.5rem 0;
    font-size: 1.3rem;
    font-weight: bold;
  }

  .nothing {
    height: 40vh;
    padding: 9rem 0rem;
    font-size: 0.9rem;
    border-bottom: 0.163rem solid black;
    text-align: center;
  }
}
