.reviews {
  width: 45vh;

  .myEssay {
    margin: 5rem 0 2.5rem 0;
    font-size: 1.3rem;
    font-weight: bold;
  }
  .reviewContents {
    height: 40vh;
    border-bottom: 0.163rem solid black;
  }
}
