@import '../../../../styles/variables.scss';
// $smallFont: 13px;
// $middleFont: 16px;
// $largeFont: 20px;
$darkGray: #3a3a3a;
$lightGray: #888888;

.ourStory {
  @include flexCenter;
  flex-direction: column;
  padding: 0 3rem;
  max-width: 1500px;

  .title {
    margin: 10rem 0 3rem;
    color: $darkGray;
    font-size: calc($largeFont) * 2.5;
    font-weight: 700;
  }

  .description {
    margin-bottom: 3.7rem;
    color: $lightGray;
    font-size: calc($largeFont) * 1.15;
    text-align: center;
    line-height: 2.5rem;
  }

  .ourStoryImg {
    width: 100%;
  }

  .line {
    margin: 5rem 0 0 0;
    width: 100%;
    border-bottom: 1px solid black;
  }
}
