@import '../../../../styles/variables.scss';

$darkGray: #3a3a3a;
$lightGray: #888888;

.wallPaper {
  @include flexCenter;
  flex-direction: column;
  padding: 0 3rem;
  max-width: 1500px;
  transform: translateY(-3rem);

  .title {
    margin: 10rem 0 3rem;
    color: $darkGray;
    font-size: 3rem;
    font-weight: 700;
    font-family: $basicFont;
  }

  .description {
    margin-bottom: 3.7rem;
    color: $lightGray;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.5rem;
    font-family: $basicFont;
  }

  .wallpaperImg {
    width: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  .line {
    margin: 5rem 0 0 0;
    width: 100%;
    border-bottom: 1px solid black;
  }

  &.active {
    animation: fadein 2s ease-out;
  }

  @keyframes fadein {
    from {
      opacity: 0;
      transform: translateY(0);
    }
    to {
      opacity: 1;
      transform: translateY(-3rem);
    }
  }
}
