.listItem {
  width: 90%;
  display: grid;
  row-gap: 40px;
  column-gap: 70px;
  // grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
}

@media screen and (max-width: 700px) {
  .listItem {
    grid-template-columns: repeat(2, 1fr);
  }
}
