.listCategory {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto;
  font-size: 1.2rem;

  .listCategorys {
    flex: 1;
    padding: 0.5rem;
    color: #3d3d3d;
    cursor: pointer;
  }
  .listCategorys:hover {
    background-color: #eeee;
  }
}
