@import '../components/../../../styles/variables.scss';

.listCategory {
  margin: 0 2rem;
  cursor: pointer;

  .filterName {
    font-size: 1.1rem;
    color: $gray;
  }

  .filterName:hover {
    color: $gray;
  }
}
