.board {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 7rem;
  max-width: 100%;
  width: 100%;
  background-color: white;

  .tabMenu {
    width: 80%;
    height: 80vh;

    .tabTitles {
      display: flex;
    }

    .tabTitle {
      margin-right: 4rem;

      height: 3rem;
      font-size: 1.5rem;
      text-align: center;

      &:hover {
        cursor: pointer;
        border-bottom: 0.2rem solid black;
      }
    }

    .tabContent {
      .boardTitle {
        height: 12vh;
        margin-top: 3rem;
        font-size: 2.5rem;
      }

      .boardContents {
        border-top: 0.2rem solid black;
        .boardContent {
          display: flex;
          justify-content: space-between;
          height: 4vh;
          margin-top: 5rem;
          .contentInformation {
            display: flex;
            .label {
              border: 0.163rem solid black;
              border-radius: 1rem;
              text-align: center;
              padding: 0.4rem;
              margin: 0 3rem 0 1.5rem;
              color: yellow;
              background-color: black;
            }

            .content {
              font-size: 1.4rem;
              margin-right: 20rem;
              border-left: 00.163rem solid black;
              padding: 0.4rem;
            }
          }
          .date {
            color: gray;
            margin-left: 15rem;
          }
        }
      }
    }
  }

  .pageChange {
    margin-top: 3rem;
  }
}
