@import '../../../../styles/variables.scss';
$darkGray: #3a3a3a;
$lightGray: #888888;

.bestProducts {
  margin-top: 1000px;
  @include flexCenter;
  flex-direction: column;
  padding: 0 3rem;
  width: 100%;

  .title {
    margin: 10rem 0 3rem;
    color: $darkGray;
    font-size: calc($largeFont) * 2.5;
    font-weight: 700;
  }

  .description {
    margin-bottom: 3.7rem;
    font-size: calc($largeFont) * 1.15;
    color: $lightGray;
    text-align: center;
    line-height: 2.5rem;
  }

  .itemContainer {
    max-width: 70%;

    .items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 0.08rem;

      .itemList {
        display: flex;
        flex-direction: column;
        width: calc(33.3% - 35px);
        margin-bottom: 3.7rem;

        .item {
          width: 100%;
          height: 100%;
          object-position: center;
          object-fit: cover;
          cursor: pointer;
        }

        .itemDesc {
          @include flexCenter;
          flex-direction: column;

          span {
            &:first-child {
              margin: 1.25rem 0;
              font-size: calc($smallFont) * 1.1;
            }

            &:last-child {
              color: $lightGray;
              font-size: calc($largeFont) * 0.9;
            }
          }
        }
      }
    }
  }
  .more {
    padding: 0.8rem 1.3rem;
    color: $darkGray;
    border: 3px solid $darkGray;
    border-radius: 1.5rem;
    font-size: $smallFont;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $darkGray;
      color: white;
    }
  }

  .line {
    margin: 5rem 0 0 0;
    width: 100%;
    border-bottom: 1px solid black;
  }
}
