@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}
