@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

$lineColor: #8a8a8a;
$hoverColor: #adadad;
$lightGray: #adadad;
$darkGray: #3a3a3a;
$gray: #7c7c7c;
$basicFont: 'Montserrat', sans-serif;
