.itemCart {
  .cartDetail {
    .cartWrapper {
      width: 100%;
      padding: 12% 3% 14%;

      .cartHeader {
        margin-bottom: 2.5rem;

        .cartTitle {
          font-size: 2.5rem;
          font-weight: bold;
        }
      }
      .productField {
        .cartInfo {
          .tbTitle {
            display: flex;
            flex-direction: row;
            padding: 1rem 0rem 0.938rem;

            .itemListHeader {
              width: 100%;
              font-size: 0.875rem;
              display: flex;

              .info {
                width: 53%;
                display: inline-block;
                background-color: yellow;
              }

              .count {
                width: 25%;
                // display: inline-block;
                text-align: center;
                background-color: pink;
              }

              .price {
                width: 20%;
                // display: inline-block;
                text-align: center;
                background-color: skyblue;
              }
              .deliveryCharge {
                width: 20%;
                display: inline-block;
                font-size: 0.875rem;
                text-align: center;
                background-color: yellowgreen;
              }
            }
          }
        }
        .cartListDiv {
          background-color: coral;
          border-top: 0.063rem solid black;
          border-bottom: 0.063rem solid black;
          .cartList {
            width: 80%;
            background-color: beige;
          }
          .deliveryInfoDiv {
            width: 20%;
            background-color: blue;
          }
        }
        .tbTotal {
          width: 50%;
          float: right;
          .priceInfoDiv {
            width: 100%;
            border-bottom: 0.063rem solid black;
            padding: 1.25rem 0;
            .productPrice {
              display: flex;
              .priceTitle {
                margin-right: 0.938rem;
                font-size: 0.875rem;
                display: inline-block;
              }
              .productPriceCount {
                width: 40%;
                text-align: right;
                font-size: 0.875rem;
              }
            }
            .shippingPrice {
              display: flex;
              margin-top: 1.25rem;
              .shippingTitle {
                margin-right: 0.938rem;
                font-size: 0.875rem;
              }
              .shippingPriceCount {
                width: 40%;
                text-align: right;
                font-size: 0.875rem;
              }
            }
          }
          .cartTotalDiv {
            padding: 1.25rem 0;
            display: flex;
            .cartTotalTitle {
              margin-right: 0.938rem;
              font-size: 0.938rem;
              font-weight: bold;
            }
            .cartTotalPrice {
              width: 40%;
              text-align: right;
              font-size: 0.938rem;
              font-weight: bold;
            }
          }
        }
      }
      .btnWrapper {
        width: 100%;
        display: inline-block;
        margin-top: 2.5rem;
        text-align: right;
        .orderBtn {
          border-radius: 3.125rem;
          width: 13.75rem;
          height: 3.375;
          background-color: transparent;
          border: 0.063rem solid black;

          &:hover {
            background-color: black;
            color: white;
          }
        }
      }
    }
  }
}
