.itemComponent {
  .deliveryGroupItemList {
    width: 80%;
    border-bottom: 1px solid black;
    background-color: aqua;
    .cartInfoDiv {
      // width: 100%;
      // height: 122px;
      padding: 1.25rem 0;
      display: flex;
      flex-direction: row;

      .product {
        width: 53%;
        display: flex;

        .img {
          width: 5.188rem;
          height: 5.188rem;
          background-color: orange;
          // display: inline;
        }

        .text {
          // width: 100%;
          // display: inline-block;
          padding-left: 5%;
          display: flex;
          justify-content: center;
          flex-direction: column;
          .name {
            font-size: 0.875rem;
            line-height: 1.125rem;
            margin: 0.313rem 0;
          }
          .deleteBtnWrapper {
            margin-top: 0.75rem;
            font-size: 0.875rem;
            color: black;
          }
        }
      }
      .quantityDiv {
        width: 25%;
        // display: inline-block;
        // padding-left: calc(25% - 10.875rem);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 9%;
        border: 1px solid black;

        .quantity {
          width: 194px;
          height: 37px;
          display: flex;
          .decreaseBtn {
            width: 40px;
            height: 40px;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .amountBox {
            width: 40px;
            height: 40px;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .increaseBtn {
            width: 40px;
            height: 40px;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }

      .cartPrice {
        width: 20%;
        font-size: 0.875rem;
        text-align: center;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
