@import '../../../../styles/variables.scss';

.collaboration {
  @include flexCenter;
  flex-direction: column;
  padding: 0 3rem;
  width: 100%;
  max-width: 1500px;

  .title {
    margin: 10rem 0 3rem;
    color: $darkGray;
    font-size: 3rem;
    font-weight: 700;
    font-family: $regularFont;
  }

  .description {
    margin-bottom: 3.7rem;
    color: $lightGray;
    font-size: 1.6rem;
    text-align: center;
    line-height: 2.5rem;
    font-family: $regularFont;
  }

  .itemContainer {
    max-width: 70%;

    .items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 0.08rem;

      .itemList {
        position: relative;
        display: flex;
        flex-direction: column;
        width: calc(33.3% - 2rem);
        margin-bottom: 3.7rem;

        .item {
          width: 100%;
          height: 24rem;
          max-height: 18rem;
          object-position: center;
          object-fit: cover;
          cursor: pointer;
          transition: all 500ms ease-in-out;
        }

        .item:hover {
          animation: 1s ease-in ani2;
          @keyframes ani2 {
            from {
              opacity: 0.8;
            }
          }
          to {
            opacity: 1;
          }
        }

        .item:not(hover) {
          animation: 1s ease-out ani;
          @keyframes ani {
            from {
              opacity: 0.8;
            }
          }
          to {
            opacity: 1;
          }
        }

        .itemDesc {
          @include flexCenter;
          flex-direction: column;

          span {
            &:first-child {
              margin: 1.25rem 0;
              font-size: 1rem;
              font-family: $regularFont;
            }

            &:last-child {
              color: $lightGray;
              font-size: 1rem;
              font-family: $regularFont;
            }
          }
        }
      }
    }
  }
  .more {
    position: relative;
    padding: 0.8rem 2.2rem 0.94rem 1.3rem;
    color: $darkGray;
    border: 3px solid $darkGray;
    border-radius: 1.5rem;
    font-size: 1rem;
    transition: all 0.3s;
    font-family: $regularFont;
    cursor: pointer;

    &:hover {
      background-color: $darkGray;
      color: white;
    }

    .arrowRightBtn {
      position: absolute;
      top: 0.66rem;
      right: 0.8rem;
      font-size: 1.1rem;
    }
  }

  .line {
    margin: 5rem 0 0 0;
    width: 100%;
    border-bottom: 1px solid black;
  }
}
