.Footer {
  // position: fixed;
  // position: absolute;
  bottom: 10px;
  left: 0;
  text-align: center;
  width: 100%;
  .footerIcons {
    display: flex;
    justify-content: center;
    i {
      padding: 25px;
    }
  }
  span {
    padding: 20px;
  }
  .pageDetails {
    padding: 20px;
  }
  .reserved {
    font-weight: bold;
    padding: 20px;
    margin-bottom: 30px;
  }
}
