.footer {
  text-align: center;
  width: 100%;

  .footerIcons {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 1rem;

    .footerIcon {
      margin-left: 1rem;
    }
  }

  span {
    padding: 1.25rem;
  }

  .pageDetails {
    font-size: 0.9rem;
    padding: 1.25rem;
  }

  .reserved {
    font-weight: bold;
    padding: 1.25rem;
    margin-bottom: 2rem;
  }
}
