.SignUp {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .signUpWrapper {
    width: 25rem;

    .signUpField {
      width: 100%;

      .signUpHeader {
        margin-bottom: 2.5rem;

        .signUpTitle {
          font-size: 1.25rem;
          font-weight: bold;
        }
      }

      .contentBox {
        .row {
          margin-bottom: 1.25rem;

          .inputTitle {
            display: block;
            font-size: 0.875rem;
            margin-bottom: 0.75rem;
          }

          .signUpInputBox {
            width: 100%;
            height: 2.813rem;
            padding: 0.625rem 15px;
          }
        }

        .inputTitle {
          display: block;
          font-size: 0.875rem;
          margin-bottom: 0.75rem;
        }

        .contentBox {
          display: flex;
          justify-content: space-between;

          .customerPhone1 {
            width: 30%;
            height: 2.813rem;
            padding: 0.625rem 15px;
          }

          .customerPhone2 {
            width: 30%;
            height: 2.813rem;
            padding: 0.625rem 15px;
          }

          .customerPhone3 {
            width: 30%;
            height: 2.813rem;
            padding: 0.625rem 15px;
          }

          .element {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
      .checkboxWrapper {
        display: flex;
        margin: 0.625rem 0;

        .checkbox {
        }
        .agreeBox {
          .agreeText {
            width: 100%;
            font-size: 0.875rem;
            padding-left: 0.625rem;
            line-height: 1.5em;
          }

          .agreeSubText {
            font-size: 0.75rem;
            padding-left: 0.625rem;
          }
        }
      }
      .btnWrapper {
        display: flex;
        justify-content: center;
        margin-top: 1.25rem;

        .signUpBtn {
          width: 240px;
          height: 54px;
          border-radius: 50px;
          background: white;
          border: 1px solid black;

          &:hover {
            background: black;
            color: white;
          }
        }
      }
    }
  }
}
