@import '../../../../styles/variables.scss';
// $smallFont: 13px;
// $middleFont: 16px;
// $largeFont: 20px;
$darkGray: #3a3a3a;
$lightGray: #888888;

.instagram {
  @include flexCenter;
  flex-direction: column;
  padding: 0 3rem;
  max-width: 1500px;

  .title {
    margin: 10rem 0 3rem;
    color: $darkGray;
    font-size: calc($largeFont) * 2.5;
    font-weight: 700;
  }

  .description {
    margin-bottom: 3.7rem;
    color: $lightGray;
    font-size: calc($largeFont) * 1.15;
    text-align: center;
    line-height: 2.5rem;
  }

  .slider {
    position: relative;
    width: 100%;
    // overflow: hidden;

    .slide {
      display: flex;
      align-content: center;
      width: 100%;

      .slideImg {
        width: 18rem;
        object-fit: cover;
        margin: 0 1.2rem;
      }
    }

    .arrowLeft {
      position: absolute;
      top: 50%;
      left: 2.5rem;
      transform: translateY(-50%);
      color: aqua;
      font-size: 1.8rem;
      cursor: pointer;
    }

    .arrowRight {
      position: absolute;
      top: 50%;
      right: 2.5rem;

      transform: translateY(-50%);
      color: aqua;
      font-size: 1.8rem;
      cursor: pointer;
    }
  }

  .space {
    margin-bottom: 10rem;
  }
}
