@import '../../../styles/variables.scss';

.dropCategory {
  width: 100%;
  font-size: 1rem;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropCategory:hover {
  color: $lightGray;
}
