@import '../../../styles/variables.scss';

.navbarMenuItem {
  position: relative;
  padding: 0.5rem 2rem;
  margin: auto;
  font-family: $regularFont;
  cursor: pointer;
}

.dropBoxs {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
}
