@import '../../../styles/variables.scss';

.navbarMenuItem {
  position: relative;
  padding: 0.5rem 1.5rem;
  margin: auto;
  // font-family: $regularFont;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.navbarMenuItem:hover {
  color: $darkGray;
  .dropBoxs {
    color: black;
  }
}

.dropBoxs {
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
}
