@import '../../styles/variables.scss';

nav {
  width: 100%;
  background-color: transparent;
  position: fixed;
  z-index: 10;
}

.navbar {
  width: 100%;
  margin: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 2rem 2rem;
  transition: all 1s ease-in-out;

  .navbarMenu {
    display: flex;
    margin: 0 0.5rem;
  }

  .navbarTitle {
    font-size: 2rem;
    font-family: $regularFont;
  }

  .navbarMenuItems {
    margin-left: 0.5rem;
    font-size: 1.2rem;
    display: flex;
  }

  .navarIconbox {
    transition: all 0.5s;
  }

  .navarIcon {
    font-size: 1.4rem;
    margin: 0 0.8rem;
    color: black;
    cursor: pointer;
  }

  .navarIcon:hover {
    color: #ffee33;
  }

  .navbarInput {
    line-height: 1rem;
    font-size: 1.1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    display: none;
  }

  .navbarInputOn {
    background-color: transparent;
    line-height: 1rem;
    font-size: 1.1rem;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
  }

  .navbarToggleBtn {
    font-size: 1.4rem;
    cursor: pointer;
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    height: 5rem;
    background-color: white;
    z-index: 1;

    .navBasic {
      display: flex;
      justify-content: space-around;
      padding-top: 2rem;
      padding-bottom: 1rem;

      .title {
        padding-right: 4.5rem;

        .bigTitle {
          font-size: 2rem;
          text-align: center;
        }

        .smallTitle {
          font-size: 0.65rem;
        }
      }

      .navMenu {
        display: flex;
        justify-content: space-between;
        width: 21rem;
        font-size: 0.9rem;
        margin-right: 20rem;
        padding-top: 0.8rem;

        .teamInfor {
          font-weight: bold;

          &:hover {
            border-bottom: 0.2rem solid black;
            background-color: white;
            cursor: pointer;
          }

          .navDetailBar {
            visibility: hidden;
            display: flex;
            justify-content: center;
            position: absolute;
            margin-top: 1rem;
            padding-top: 1rem;
            width: 100vw;
            left: 0;
            background-color: white;

            .storeCategory {
              width: 15%;
              div {
                padding-bottom: 3rem;
                text-align: center;
              }
            }

            .storeSort {
              div {
                padding-bottom: 3rem;
              }
            }
          }

          &:hover .navDetailBar {
            visibility: visible;
          }
        }
        .store {
          font-weight: bold;

          &:hover {
            border-bottom: 0.2rem solid black;
            background-color: white;
          }

          .navDetailBar {
            visibility: hidden;
            display: flex;
            justify-content: center;
            position: absolute;
            margin-top: 1rem;
            padding-top: 1rem;
            width: 100vw;
            left: 0;
            background-color: white;

            .storeCategory {
              width: 15%;
              div {
                padding-bottom: 3rem;
                text-align: center;
              }
            }

            .storeSort {
              div {
                padding-bottom: 3rem;
              }
            }
          }

          &:hover .navDetailBar {
            visibility: visible;
          }
        }

        .board {
          font-weight: bold;

          &:hover {
            border-bottom: 0.2rem solid black;
            background-color: white;
          }

          .navDetailBar {
            visibility: hidden;
            display: flex;
            justify-content: center;
            position: absolute;
            margin-top: 1rem;
            padding-top: 1rem;
            width: 100vw;
            left: 0;
            background-color: white;

            .storeCategory {
              width: 15%;
              div {
                padding-bottom: 3rem;
                text-align: center;
              }
            }

            .storeSort {
              div {
                padding-bottom: 3rem;
              }
            }
          }

          &:hover .navDetailBar {
            visibility: visible;
          }
        }

        .gallery {
          font-weight: bold;

          &:hover {
            border-bottom: 0.2rem solid black;
            background-color: white;
          }

          .navDetailBar {
            visibility: hidden;
            display: flex;
            justify-content: center;
            position: absolute;
            margin-top: 1rem;
            padding-top: 1rem;
            width: 100vw;
            left: 0;
            background-color: white;

            .storeCategory {
              width: 15%;
              div {
                padding-bottom: 3rem;
                text-align: center;
              }
            }

            .storeSort {
              div {
                padding-bottom: 3rem;
              }
            }
          }

          &:hover .navDetailBar {
            visibility: visible;
          }
        }
      }
    }
    .navIcons {
      display: flex;
      justify-content: space-around;
      width: 10rem;
    }
  }
}
