body {
  background-color: bisque;
  height: 1500px;
}
nav {
  width: 100%;
  background-color: white;
  position: fixed;
}

.navbar {
  width: 90%;
  margin: auto;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1.5rem 2rem;
  transition: all 1s ease-in-out;

  .navbarMenu {
    display: flex;
    margin: 0 0.5rem;
  }
  .navbarTiele {
    font-size: 1.5rem;
    margin-right: 3rem;
  }

  .navbarMenuItems {
    display: flex;
  }

  .navbarMenuItem {
    padding: 0.5rem 0.4rem;
    margin: 0 0.5rem;
    cursor: pointer;
  }

  .navarIcon {
    font-size: 1rem;
    margin: 0 0.8rem;
    cursor: pointer;
  }

  .navbarInput {
    padding: 0.5rem 2rem;
    line-height: 0.5rem;
    border: 2px solid black;
    border-radius: 5px;
    outline: none;
    display: none;
  }

  .navbarToggleBtn {
    position: absolute;
    right: 2rem;
    font-size: 1.1rem;
    top: 1.7rem;
    cursor: pointer;
    display: none;
  }
}

.dropbox {
  position: absolute;
  background: green;
  top: 5rem;
  width: 50px;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .navbar {
    justify-content: center;
  }

  .navbarMenuItem {
    display: none;
  }

  .navarIconbox {
    display: none;
  }

  .navbarToggleBtn {
    display: block;
    position: absolute;
    right: 2rem;
    top: 1.7rem;
  }
}

// zzzzzz
// .navber2 {
//   height: 100vh;
//   background: #1b1919;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   color: white;
// }

// .navbarLogo2 {
//   color: white;
//   text-decoration: none;
//   font-size: 2rem;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   width: 10rem;
// }

// .navItems {
//   display: flex;
//   list-style: none;
//   text-align: center;
//   width: 70vw;
//   justify-content: flex-start;
//   margin-right: 2rem;
// }
// .itemName {
//   display: flex;
//   align-items: center;
//   color: white;
//   font-size: 1.1rem;
//   margin-right: 2rem;
//   padding: 6px 16px;
//   border-radius: 5px;
// }
// .itemName :hover {
//   background: rgb(0, 212, 212);
// }

// .btn {
//   border: none;
//   background: transparent;
//   padding: 6px 16px;
//   font-size: 1.1rem;
//   color: white;
//   background: rgb(0, 212, 212);
//   border-radius: 5px;
//   transition: 0.3s all ease-in-out;
// }

// .btn:hover {
//   color: rgb(0, 212, 212);
//   background: white;
// }

// .serviceSub {
//   width: 10rem;
//   position: absolute;
//   list-style: none;
//   text-align: start;
// }

// .serviceSub li {
//   background: reg(0, 212, 212);
//   cursor: pointer;
// }

// .serviceName {
//   display: block;
//   width: 100%;
//   height: 100%;
//   text-decoration: none;
//   color: white;
//   padding: 16px;
// }
