* {
  box-sizing: border-box;
  margin: auto;
}
.container {
  width: 88%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.topInfo {
  margin-top: 80px; // <Nav />랑 떨어트리기 위한 margin-top
  width: 100%;
  height: 120vh;
  display: flex;
  // border: 11px solid black;
  flex-flow: wrap;
}

.prodPic {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: 4rem;
  .mainPic {
    cursor: pointer;
  }
  .smallPics {
    display: flex;
    margin: 1rem;
    .smallPic {
      margin-right: 1rem;
      cursor: pointer;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 4rem;
  // border: 1px solid blue;
  h1 {
    margin: 1rem;
    font-weight: bold;
    font-size: 1.4rem;
  }
  .price {
    margin: 2.5rem 1rem;
    font-size: 1.4rem;
  }
  .savedMoney {
    margin: 1rem;
    font-size: 0.9rem;
    .savedMoney_ {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
  .shipMoney {
    margin: 1rem;
    font-size: 0.9rem;
    .shipMoney_ {
      font-size: 0.9rem;
      font-weight: bold;
    }
  }
  .ageSelect {
    margin: 3rem 1rem;
    .age {
      font-size: 0.9rem;
    }
    select {
      cursor: pointer;
      margin-top: 1rem;
      padding: 0.6rem 1rem;
    }
  }

  .prodBuyNum {
    margin: 1rem;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    .prodNameX {
      margin-top: 3rem;
      margin-bottom: 0.7rem;
      display: flex;
      justify-content: space-between;
      .xIcon {
        cursor: pointer;
      }
    }
    .수량X가격 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .numButton {
        display: flex;
        .minus {
          width: 2rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid black;
          border-right: 0px;
          cursor: pointer;
        }
        .number {
          width: 2rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid black;
          border-right: 0px;
        }
        .plus {
          width: 2rem;
          height: 2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid black;
          cursor: pointer;
        }
      }
    }
  }

  .주문마무리 {
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    margin: 1rem;
    padding-top: 3rem;
    font-size: 0.8rem;
    font-weight: bolder;
    .주문수량담당부분 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    .총상품담당부분 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
  }

  .버튼들 {
    margin: 1rem;
    margin-top: 2rem;

    .구매하기 {
      border-radius: 2rem;
      padding: 1rem 3rem;
      margin-right: 1rem;
      cursor: pointer;
    }
    .장바구니에담기 {
      border-radius: 2rem;
      padding: 1rem 2rem;
      cursor: pointer;
    }
  }
}

.midNavBar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  a {
    text-decoration: none;
    color: black;
    margin: 0 2rem;
    font-size: 0.9rem;
  }
}
